.header {
  padding: 15px 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .contact {
    display: none;
  }
}

.rightSide {
  display: flex;
  gap: 15px;
  .button {
    display: none;
  }
}

.logo {
  width: 200px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .leftSide {
    flex-direction: row;
    gap: 30px;

    .contact {
      display: block;

      font-weight: 500;

      a {
        color: var(--primaryColor);
        transition: 0.2s ease color;

        &:hover {
          color: var(--primaryColorHover);
        }
      }
    }
  }

  .rightSide {
    .contactButton {
      display: none;
    }

    .button {
      display: block;
    }
  }
}

@media (min-width: 960px) {
  .leftSide {
    gap: 50px;
  }
}
