@import "../../../../styles/colors";

.button {
  padding-left: 20px;
  padding-right: 20px;

  background-color: $brandColor;
  color: $backgroundColor;
  border-radius: 10px;

  font-weight: 500;
  font-size: 14px;

}