.button {
  padding: 10px 20px;

  border-radius: 200px;
  border: var(--primaryColor) 1px solid;

  color: var(--primaryColor);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
  }

  &.fillButton {
    border: none;
    background-color: var(--primaryColor);

    color: var(--secondaryColor);

    &:hover {
      background-color: var(--primaryColorHover);
    }
  }
}
