.promocode {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 15px;

  border-radius: 10px;
  border: 1px var(--secondaryColorLighten) solid;
}

.promocodeAction {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;

  label {
    flex-grow: 1;
  }
}

.title {
  font-size: 16px;
  font-weight: 300;
}

.promocodeInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.promocodeTitle {
  font-size: 14px;
  font-weight: 500;
}

.promocodeSubtitle {
  font-size: 14px;
  font-weight: 300;
  color: var(--neutralColor)
}

@media (min-width: 768px) {
  .promocode {
    width: 50%;
  }

  .promocodeAction {
    flex-direction: row;
  }
}
