.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--secondaryColor);
  filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.1));

  cursor: pointer;
}

.rightDirection {
  transform: rotate(180deg);
}
