.delete {
  display: none;
}

.product {
  position: relative;

  display: grid;
  grid-template-columns: 130px auto;
  gap: 8px;

  padding: 8px 0;

  border-bottom: var(--secondaryColorLighten) 1px solid;

  &:last-child {
    border-bottom: none;
  }

  .image {
    overflow: hidden;

    background-color: var(--secondaryColorLighten);
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .nonImage {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .info {
    .title {
      font-size: 18px;
      font-weight: 500;

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      span {
        flex-shrink: 0;

        font-size: 14px;
        color: var(--neutralColorDarken);
      }
    }

    .foods {
      font-size: 14px;
      color: var(--neutralColorDarken);
      display: -webkit-box;
      -webkit-line-clamp: 3; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .priceBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      flex-shrink: 0;
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .delete {
    display: block;
  }

  .product.large {
    background-color: var(--secondaryColorLighten);
    padding: 20px;
    border-radius: 20px;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 35px 0px var(--neutralColorTransparent);
    }

    .image {
      height: 170px;
      flex-shrink: 0;

      background-color: var(--secondaryColor);
    }

    .nonImage {
      width: 100%;
      flex-grow: 1;
      display: flex;

      .info {
        flex-grow: 1;
        margin-bottom: 25px;

        .title {
          margin-bottom: 5px;
        }
      }

      .priceBlock {
        .price {
          font-size: 18px;
        }
      }
    }
  }

  .product.medium {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 20px;

    background-color: var(--secondaryColorLighten);
    border-radius: 10px;

    .image {
      width: 80px;
      height: 80px;
    }

    .nonImage {
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      height: 100%;

      .info {
        flex-grow: 1;

        .title {
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;

          margin-bottom: 3px;
        }

        .foods {
          display: none;
          max-width: 220px;
        }
      }

      .priceBlock {
        gap: 20px;
      }
    }

  }
}
